export type {{pascalCase name}}Props = {
  children: React.ReactNode
}

const {{pascalCase name}} = ({ children }: {{pascalCase name}}Props) => {
  return (
    <section>
      <h1>{{pascalCase name}}</h1>
      {children}
    </section>
  )
}

export default {{pascalCase name}}
